[submodule "fluent-plugin-mongo"]
	path = fluent-plugin-mongo
	url = git@github.com:fluent/fluent-plugin-mongo.git
[submodule "fluent-plugin-s3"]
	path = fluent-plugin-s3
	url = git@github.com:fluent/fluent-plugin-s3.git
[submodule "fluent-plugin-scribe"]
	path = fluent-plugin-scribe
	url = git@github.com:fluent/fluent-plugin-scribe.git
[submodule "fluent-plugin-hoop"]
	path = fluent-plugin-hoop
	url = git@github.com:fluent/fluent-plugin-hoop.git
